<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!--OVERRIDE PROVIDER'S BUILDER PARAMETERS-->
    <!--
    <add key="{providername}.parameter.prefix" value="@"/>-->
    <!--
    <add key="{providername}.parameter.separator" value=""/>-->
    <!--
    <add key="{providername}.alias.separator.column" value="."/>-->
    <!--
    <add key="{providername}.alias.separator.column.keyword" value="as"/>-->
    <!--
    <add key="{providername}.alias.separator.table" value="_"/>-->
    <!--
    <add key="{providername}.alias.separator.table.keyword" value="as"/>-->
    <!--
    <add key="{providername}.alias.enclosure.column.open" value="["/>-->
    <!--
    <add key="{providername}.alias.enclosure.column.close" value="]"/>-->
    <!--
    <add key="{providername}.alias.enclosure.table.open" value="["/>-->
    <!--
    <add key="{providername}.alias.enclosure.table.close" value="]"/>-->
    <!--
    <add key="{providername}.where.wildcard.single" value="_"/>-->
    <!--
    <add key="{providername}.where.wildcard.any" value="%"/>-->
     <!--
    <add key="{providername}.update.set.use.alias" value="true"/>-->
    <!--
    <add key="{providername}.update.where.use.alias" value="true"/>-->    
    <!--
    -->
    <add key="test.connectionstring.name" value="test.sqlserver" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="database.forceusedbcommand" value="false" />
  
  </appSettings>
  <connectionStrings>
    <add name="test.sqlserver" connectionString="Data Source=W7_U_EN_X64;Initial Catalog=test;User Id=sa;Password=sasasa" providerName="System.Data.SqlClient" />
    <!--<add name="test.sqlserver" connectionString="Data Source=.;Initial Catalog=test;User Id=sa;Password=sasasa" providerName="System.Data.SqlClient" />-->

    <add name="test.mysql" connectionString="Data Source=W7_U_EN_X64;Database=test;User Id=root;Password=sasasa;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  <!--<add name="test.mysql" connectionString="Data Source=192.168.99.100;Database=test;User Id=root;Password=sasasa;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="test.mysql" connectionString="server=192.168.99.100;port=3306;database=test;uid=root;password=sasasa;" providerName="MySql.Data.MySqlClient"/>-->

    <add name="test.postgresql" connectionString="Host=W7_U_EN_X64;Port=5432;Database=test;Username=postgres;Password=sasasa" providerName="Npgsql" />
    <!--<add name="test.postgresql" connectionString="Host=192.168.99.100;Port=5432;Database=test;Username=postgres;Password=sasasa" providerName="Npgsql" />-->  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>